<div class="contact-form-content pt-sm-55 pt-xs-55">
  <h3 class="contact-page-title">Tell Us Your Message</h3>
  <div class="contact-form">
      <form #myForm="ngForm" id="contact-form" action="http://demo.hasthemes.com/limupa-v3/limupa/mail.php" method="post">
          <div class="form-group">
              <label>Your Name <span class="required">*</span></label>
              <input #customerName="ngModel" [(ngModel)]='icontactus.name' type="text" name="customerName" id="customername">
          {{icontactus.name}}
          </div>
          <div class="form-group">
              <label>Your Email <span class="required">*</span></label>
              <input #customerEmail="ngModel" [(ngModel)]='icontactus.email' type="email" name="customerEmail" id="customerEmail" required>
          </div>
          <div class="form-group">
                <label>Subject <span class="required">*</span></label>
                <select [(ngModel)]='icontactus.fkSubjectId' name="ddlSubject" >
                    <!-- <option>Select Subject</option> -->
                    <option *ngFor="let subject of subjects" [value]="subject.id">{{subject.name}}</option>
                </select>
            </div>
          <!-- <div class="form-group">
              <label>Subject</label>
              <input #contactSubject="ngModel" [(ngModel)]='icontactus.subject' type="text" name="contactSubject" id="contactSubject">
          </div> -->
          <div class="form-group mb-30">
              <label>Your Message</label>
              <textarea [(ngModel)]='icontactus.message' name="contactMessage" id="contactMessage" ></textarea>
          </div>
          <div class="form-group">
              <button type="submit" value="submit" id="submit" class="li-btn-3" name="submit" (click)="onSubmit(myForm)">send</button>
          </div>
      </form>
  </div>
  <p class="form-messege"></p>
</div>