<app-nav></app-nav>
<router-outlet></router-outlet>

<app-products></app-products>
<app-header></app-header>

<!-- <router-outlet></router-outlet> -->
<app-single-product-wrap></app-single-product-wrap>
<app-single-product-wrap></app-single-product-wrap>
<app-product-area></app-product-area>
<app-images-gallery></app-images-gallery>
<app-blog-gallery-slider></app-blog-gallery-slider>
<app-store-details></app-store-details>
<!-- <app-single-product-wrap></app-single-product-wrap> -->
<!-- <app-product-area></app-product-area> -->

<app-blog-post></app-blog-post>
<app-footer></app-footer>
