<!-- <app-header></app-header> -->
<!-- <app-category-menu></app-category-menu> -->
<!-- <app-store-listing></app-store-listing> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-single-product-wrap></app-single-product-wrap> -->
<!-- <app-product-area></app-product-area> -->
<!-- <app-nav></app-nav>
<router-outlet></router-outlet>-->

<app-header></app-header>

<!-- <app-product-details></app-product-details> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-products></app-products> -->
<!-- <app-single-product-wrap></app-single-product-wrap> -->
<!-- <app-product-area></app-product-area> -->
<!-- <app-products></app-products> -->
<!-- <app-images-gallery></app-images-gallery> -->
<!-- <app-blog-gallery-slider></app-blog-gallery-slider> -->
<app-store-details></app-store-details>
<!-- <app-blog-post></app-blog-post> -->
<app-footer></app-footer>
