<app-header></app-header>
<!-- <app-product-details></app-product-details> -->
<!-- <app-product-details></app-product-details> -->
<!-- <app-store-listing></app-store-listing> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-products></app-products> -->
<!-- <app-single-product-wrap></app-single-product-wrap> -->
<!-- <app-product-area></app-product-area> -->
<!-- <app-products></app-products> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-listing-products></app-listing-products> -->
<!-- <app-stores-list></app-stores-list> -->

<!-- <app-products></app-products> -->
<!-- <app-single-product-wrap></app-single-product-wrap> -->
<!-- <app-product-area></app-product-area>
<app-products></app-products> -->
<!-- <app-images-gallery></app-images-gallery> -->
<!-- <app-blog-gallery-slider></app-blog-gallery-slider> -->
<!-- <app-store-details></app-store-details> -->
<!-- <app-store-listing></app-store-listing> -->
<!-- <app-product-details></app-product-details> -->
<!-- <app-store-add></app-store-add> -->
<!-- <app-product-listing></app-product-listing> -->
<app-store-details></app-store-details>

<!-- <app-blog-post></app-blog-post> -->
<app-footer></app-footer>

