<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">stores</a></li>
        <li class="active">Souq</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- content-wraper start -->
<div class="product-area content-wraper sp-carousel-page pt-35">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row justify-content-center">
          <img class="col-3 img-thumbnail" style="width: 200px; height: 200px;" src="{{storeDetails.logoUrl}}"
            alt="Li's Product Image">
        </div>

        <div class="product-details-view-content sp-carousel-content pt-45">
          <div class="product-info">
            <h2>{{storeDetails.name}}</h2>
            <div class="rating-box pt-20">

              <star-rating [starType]="'svg'" [showHalfStars]="true" [readOnly]="true" staticColor="ok"
                rating="{{storeDetails.totalRating}}"></star-rating>
              <ul class="rating rating-with-review-item">
                <li class="review-item"><a href="#">Read Review</a></li>
                <li class="review-item"><a href="#">Write Review</a></li>
              </ul>
            </div>
            <!-- <div class="price-box pt-20">
              <span class="new-price new-price-2">$57.98</span>
            </div> -->
            <div class="product-desc">
              <p>
                <span>{{storeDetails.description}}</span>
              </p>
            </div>

            <div class="cart-quantity">
              <button class="add-to-cart mt-xs-30">See All Products</button>
            </div>
            <div class="product-additional-info">
              <div class="product-social-sharing">
                <ul>
                  <li class="official-site"><a href="#"><i class="fa fa-globe"></i>Website</a></li>
                  <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                  <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                  <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
                  <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wraper end -->
<!-- Begin Product Area -->
<div class="product-area pt-35">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="li-product-tab">
          <ul class="nav li-product-menu">
            <li><a class="active" data-toggle="tab" href="#reviews"><span>Reviews</span></a></li>
            <li><a data-toggle="tab" href="#branches"><span>Branches</span></a></li>
            <li><a data-toggle="tab" href="#return-warranty"><span>Return & Warranty Policies</span></a></li>
          </ul>
        </div>
        <!-- Begin Li's Tab Menu Content Area -->
      </div>
    </div>
    <div class="tab-content">

      <div id="reviews" class="tab-pane active show" role="tabpanel">

        <!-- Begin Li's Blog Comment Section -->
        <div class="li-comment-section">

          <div class="review-btn mt-15 mb-15">
            <a class="review-links" href="#" data-toggle="modal" data-target="#mymodal">Write Your Review!</a>
          </div>
          <ul>
            <li *ngFor="let review of storeDetails.customerReviews">
              <div class="author-avatar pt-15">
                <img src="{{review.avatarUrl}}" alt="User">
              </div>
              <div class="comment-body pl-15">
                <span class="customer-rating pt-15 pt-xs-5">
                  <star-rating [starType]="'svg'" [showHalfStars]="true" [readOnly]="true" staticColor="ok"
                    rating="{{review.rating}}"></star-rating>
                </span>

                <h5 class="comment-author pt-15">{{review.productName}}</h5>
                <div class="comment-post-date">
                  by: {{review.username}} | {{review.reviewDate}}
                </div>
                <p>{{review.description}}</p>
              </div>
            </li>
          </ul>
        </div>
        <!-- Li's Blog Comment Section End Here -->

      </div>
      <div id="branches" class="tab-pane" role="tabpanel">

        <div class="contact-page-side-content">
          <div *ngFor="let branch of storeDetails.branches; let i = index" class="single-contact-block">
            <h4>{{branch.name}}</h4>
            <p><i class="fa fa-fax"></i> {{branch.address}}</p>
            <p *ngFor="let phone of branch.phones"><i class="fa fa-phone"></i> Phones: {{phone}}</p>
          </div>
          <div class="single-contact-block last-child">
            <h4><i class="fa fa-link"></i> Links</h4>
            <p><i class="fa fa-globe"></i> {{storeDetails.siteUrl}}</p>
            <p *ngFor="let email of storeDetails.emails"><i class="fa fa-envelope-o"></i> {{email}}</p>
          </div>
        </div>
      </div>
      <div id="return-warranty" class="tab-pane" role="tabpanel">
        <div class="product-description">
          <div *ngFor="let info of storeDetails.returnAndWarranty">
            <h6>{{info.question}}</h6>
            <p>{{info.answer}}</p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Area End Here -->
<app-feedback-form-modal [formData]="formData" (formSubmitted)="onModalFormSubmitted($event)"></app-feedback-form-modal>
