<div class="footer-static-top footer-static-top-3 pt-xs-50 pb-xs-10">
  <div class="container">
      <!-- Begin Footer Shipping Area -->
      <div class="footer-shipping pb-xs-0">
          <div class="row">
              <!-- Begin Li's Shipping Inner Box Area -->
              <div *ngFor="let stores of storesarr" class="col-lg-3 col-md-3 col-sm-6 pb-xs-45">
                  <div class="li-shipping-inner-box">
                      <div class="shipping-icon">
                          <img src="{{stores.image}}" alt="Shipping Icon">
                      </div>
                      <div class="shipping-text">
                          <h2>{{stores.name}}</h2>
                          <p>And free returns. See checkout for delivery dates.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>