/*Header Middle*/
.header-middle {
	padding: 30px;
}
ul , li {
	list-style: none;
}
a{
	text-decoration: none;
}
.hm-searchbox {
	display: flex;
	position: relative;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	min-width: 638px;
	height: 45px;
	float: left;
}
.hm-searchbox .nice-select.select-search-category {
	width: 95px;
	line-height: 43px;
	height: 43px;
	margin: 0;
	border: 0;
	padding: 0 28px 0 25px;
	color: #242424;
	font-size: 13px;
	border-radius: 15px 0 0 15px;
	font-family: 'Rubik',sans-serif;
	font-weight: 400;
	position: relative;
}
.select-search-category ul.list {
	height: 440px;
	overflow-y: auto;
	overscroll-behavior-x: none;
}
.hm-searchbox .current::after {
	content: "";
	position: absolute;
	display: block;
	height: 22px;
	width: 1px;
	background: #e1e1e1;
	top: 10px;
	right: -10px;
	font-size: 13px;
}
.hm-searchbox .nice-select.select-search-category::before {
		right: 30px;
		top: 25px;
		color: #7e7e7e;
}
.hm-searchbox input {
		font-size: 13px;
		color: #a5a5a5;
		height: 45px;
		background: transparent;
		border: none;
		width: 100%;
		padding: 0 60px 0 33px;
}
/*Header Middle Right*/
.header-middle-right {
		display: flex;
		justify-content: flex-end;
}
/*Header Middle Wishlist*/
.hm-wishlist {
	float: left;
	margin-right: 25px;
	position: relative;
}
.hm-wishlist > a {
	border: 1px solid #e1e1e1;
	font-size: 20px;
	color: #242424;
	width: 45px;
	text-align: center;
	height: 45px;
	line-height: 45px;
	display: block;
	transition: all 0.3s ease-in-out;
}
.hm-wishlist > a:hover {
	border-color: #fed700;
	color: #fed700;
}
/*Header Middle Minicart*/
.hm-minicart {
    display: inline-block;
    position: relative;
}
.hm-minicart-trigger {
    border-radius: 2px;
    background: #e80f0f;
    color: #fff;
	padding: 10px 15px;
    cursor: pointer;
    display: block;
    position: relative;
}
.item-icon::before {
    content: "\f291";
    position: absolute;
    font-family: fontawesome;
    left: 10px;
    top: 6px;
    display: block;
    font-size: 20px;
}
.item-text {
    position: relative;
    line-height: 45px;
    font-weight: 500;
}
.item-text::before {
    content: "";
    position: absolute;
    left: -10px;
    height: 22px;
    width: 1px;
    background: rgba(255,255,255,.3);
    top: -3px;
}
.cart-item-count {
    position: absolute;
    top: -25px;
    left: -60px;
    display: block;
    overflow: hidden;
    min-width: 26px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 400;
    color: #242424;
    background: #fed700;
    text-align: center;
    border-radius: 100%;
}
.wishlist-item-count {
    top: -10px;
    left: -10px;
}
.minicart {
position: absolute;
right: 0;
top: 100%;
z-index: 9;
display: none;
border: 1px solid #e5e5e5;
padding: 20px;
width: 290px;
background: #ffffff;
text-align: left;
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.minicart .minicart-product-list {
padding-left: 0;
margin-bottom: 0;
}
.minicart .minicart-product-list li {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
list-style: none;
border-bottom: 1px solid #e5e5e5;
padding: 10px 0;
overflow: hidden;
}
.minicart .minicart-product-list li:first-child {
padding-top: 0;
}
.minicart .minicart-product-list li .minicart-product-image {
display: inline-block;
border: 1px solid #e5e5e5;
position: relative;
width: 50px;
-webkit-box-flex: 0;
-ms-flex: 0 0 50px;
flex: 0 0 50px;
margin-right: 10px;
-ms-flex-item-align: start;
align-self: flex-start;
}
.minicart .minicart-product-list li .minicart-product-image:hover {
border-color: #fed700;
}
.minicart .minicart-product-list li .minicart-product-image span.quantity {
background: -webkit-gradient(linear, left top, left bottom, from(#626262), to(#2f2f2f));
background: -webkit-linear-gradient(#626262, #2f2f2f);
background: -o-linear-gradient(#626262, #2f2f2f);
background: linear-gradient(#626262, #2f2f2f);
border-radius: 40px;
color: #fff;
font-family: Carrois Gothic, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
height: 20px;
left: -10px;
line-height: 20px;
overflow: visible;
position: absolute;
text-align: center;
top: -10px;
width: 20px;
z-index: 1;
}
.minicart .minicart-product-list li .minicart-product-details {
-ms-flex-negative: 100;
flex-shrink: 100;
width: 100%;
margin-right: 10px;
}
.minicart .minicart-product-list li .minicart-product-details h6 {
color: #333333;
font-size: 14px;
font-weight: normal;
line-height: 20px;
margin: 0 0 5px;
text-align: left;
}
.minicart .minicart-product-list li .minicart-product-details h6 a {
color: #333333;
}
.minicart .minicart-product-list li .minicart-product-details h6 a:hover {
color: #fed700;
}
.minicart > ul > li > a > img {
width: 100%;
}
.minicart .minicart-product-list li button.close {
-webkit-box-flex: 100;
-ms-flex-positive: 100;
flex-grow: 100;
background: none;
color: #777777;
display: block;
font-size: 14px;
z-index: 1;
}
.minicart .minicart-product-list li button.close:hover {
color: #fed700;
}
.minicart .minicart-total {
border: none;
color: #555555;
font-size: 14px;
line-height: 40px;
margin: 0 0 15px;
padding: 0 10px;
text-transform: uppercase;
width: 100%;
font-weight: bold;
font-family: "Poppins", sans-serif;
margin-top: 10px;
}
.minicart .minicart-total span {
font-size: 18px;
float: right;
}
.li-button {
display: inline-block;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 14px;
text-transform: uppercase;
vertical-align: middle;
text-align: center;
-webkit-transition: all 0.4s ease-in-out 0s;
-o-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s;
position: relative;
z-index: 1;
overflow: hidden;
background: #fed700;
color: #ffffff;
line-height: 50px;
margin-top: 10px;
height: 50px;
}
.li-button:hover {
background: #242424;
color: #ffffff;
}
.li-button-fullwidth {
width: 100%;
display: block;
}
.li-button-dark {
background: #242424;
color: #ffffff;
}
.li-button-dark:hover {
background: #fed700;
color: #ffffff;
}
button.li-btn {
	border: none;
	background: #fed700;
	color: #242424;
	font-size: 20px;
	width: 45px;
	border-radius: 0 2px 2px 0;
	height: 45px;
	line-height: 45px;
	position: absolute;
	right: -1px;
	top: -1px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
button.li-btn:hover {
	background: #333333;
	color: #ffffff;
}







/*Header Bottom Dropdown Menu*/
ul > li > ul.hb-dropdown {
    background: #ffffff;
    opacity: 0;
    padding: 20px 0;
    position: absolute;
    top: 100%;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
    width: 155px;
    z-index: 99;
	border-radius: 3px;
}
ul > li:hover > ul.hb-dropdown {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
    top: 100%;
}
ul > li > ul.hb-dropdown > li {
    position: relative;
    transition: all 0.3s ease-in-out;
}
ul > li > ul.hb-dropdown > li > a {
color: #242424;
display: block;
/* padding: 6px 20px; */
transition: all 0.3s ease-in-out 0s;
}
ul > li > ul.hb-dropdown > li.active > a {
    color: #fed700;
}
ul > li > ul.hb-dropdown > li > a:hover {
color: #fed700;
}
/*Header Bottom Sub Dropdown Menu*/
ul > li > ul > li > ul.hb-sub-dropdown {
left: 100%;
position: absolute;
background: #fff;
width: 250px;
opacity: 0;
visibility: hidden;
box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
top: 100%;
transition: all 0.3s ease-in-out;
}
 ul > li > ul > li:hover > ul.hb-sub-dropdown {
opacity: 1;
visibility: visible;
top: 0;
}
ul > li > ul.hb-dropdown > li.sub-dropdown-holder::after {
content: "\f107";
font-family: fontawesome;
position: absolute;
right: 25px;
top: 5px;
transition: all 0.3s ease-in-out;
color: #242424;
}
ul > li > ul.hb-dropdown > li.sub-dropdown-holder:hover::after {
    transform: rotate(-90deg);
    color: #fed700;
}
ul > li > ul.hb-dropdown > li.sub-dropdown-holder > ul > li > a {
    display: block;
    /* padding: 6px 20px; */
}
ul > li > ul.hb-dropdown > li.sub-dropdown-holder:hover > a {
    color: #fed700;
}