<div class="body-wrapper">
    <div class="page-section mb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12 pl-5" style="position: relative; left: 300px;">
                    <form #f="ngForm" action="#" (ngSubmit)="onSave(f)">
                        <div class="login-form">
                            <h4 class="login-title">Add post</h4>
                            <div class="row">
                                <div class="col-md-12 col-12 mb-20 invalid" [ngClass]="{'invalid': postName.invalid && postName.touched}" >
                                    <label>post Name</label>
                                    <input #postName="ngModel" required minlength="10" [(ngModel)]="post.postName" name="postName" class=" form-control mb-0" type="text" placeholder="Post Name">
                                    <div *ngIf= "postName.invalid && postName.touched && postName.errors['required']"> Post Name Required</div>
                                    <div *ngIf= "postName.invalid && postName.touched && postName.errors['minlength']"> Min Length Must Be {{postName.errors['minlength']['requiredLength']}} Characters </div>
                                </div>
                                <div class="col-md-12 col-12 mb-20 invalid" [ngClass]="{'invalid': description.invalid && description.touched}">
                                    <label>description</label>
                                    <textarea #description="ngModel" required minlength="10" [(ngModel)]="post.description" class="form-control" name="description" placeholder="Write Your Description Here..." cols="30"
                                        rows="10"></textarea>
                                        <div *ngIf= "description.invalid && description.touched && description.errors['required']"> Description Required</div>
                                        <div *ngIf= "description.invalid && description.touched && description.errors['minlength']"> Min Length Must Be {{description.errors['minlength']['requiredLength']}} Characters </div>
                                </div>  
                                <div class="col-md-12 col-12 mb-20">
                                    <a class="post-time" routerLink="/blog/add"><i class="fa fa-plus-square"></i> Add A
                                        Post
                                        Picture</a>
                                    <a><img *ngIf="post.imageUrls===undefined || post.imageUrls.length===0" class="img-full" src="../../../../assets/images/blog-banner/3.jpg"
                                            alt=""></a>
                                </div>
                                <div class="col-md-12 mb-20">
                                    <label>date</label>
                                    <input class="mb-0" [(ngModel)]="post.date" name="date" type="date" placeholder="Email Address">{{post.date}}
                                </div>
                                <div class="col-3">
                                    <button type="submit" [disabled]="!f.valid" class="register-button mt-0">{{ editMode ? 'Update' : 'Add' }}</button>
                                </div>
                                <div class="col-3">
                                    <button type="reset" routerLink="/blog/listing" class="register-button mt-0"
                                        style="margin-left: 25px;">cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>