<div class="body-wrapper">
    <div class="page-section mb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12 pl-5" style="position: relative; left: 300px;">
                    <form action="#">
                        <div class="login-form">
                            <h4 class="login-title">Add post</h4>
                            <div class="row">
                                <div class="col-md-12 col-12 mb-20">
                                    <label>post Name</label>
                                    <input class="mb-0" type="text" placeholder="Post Name">
                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                    <label>description</label>
                                    <textarea name="textarea1" placeholder="Write Your Description Here..." cols="30"
                                        rows="10"></textarea>
                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                    <a class="post-time" routerLink="/blog/add"><i class="fa fa-plus-square"></i> Add A
                                        Post
                                        Picture</a>
                                    <a><img class="img-full" src="../../../../assets/images/blog-banner/3.jpg"
                                            alt=""></a>
                                </div>
                                <div class="col-md-12 mb-20">
                                    <label>date</label>
                                    <input class="mb-0" type="date" placeholder="Email Address">
                                </div>
                                <div class="col-3">
                                    <button class="register-button mt-0">add</button>
                                </div>
                                <div class="col-3">
                                    <button routerLink="/blog/listing" class="register-button mt-0"
                                        style="margin-left: 25px;">cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>