
<!-- <div class="ht-setting-trigger" [ngClass]="{'dropdown--opened':isOpened}" (click)="isOpened = !isOpened"><span>Setting</span></div>

<div class="setting ht-setting">
  <ul class="ht-setting-list">
      <li><a href="login-register.html">My Account</a></li>
      <li><a href="checkout.html">Checkout</a></li>
      <li><a href="login-register.html">Sign In</a></li>
  </ul>
</div> -->

<!-- <a href="index.html">Home</a>
<ul class="hb-dropdown">
  <li><a href="index.html">Home One</a></li>
  <li><a href="index-2.html">Home Two</a></li>
  <li class="active"><a href="index-3.html">Home Three</a></li>
  <li><a href="index-4.html">Home Four</a></li>
</ul> -->

<ul class="hb-dropdown">
    <li><a href="#">My Account</a></li>
    <li><a href="#">CheckOut</a></li>
    <li><a href="#">Sign In</a></li>
</ul>