
<!-- <div class="ht-setting-trigger" [ngClass]="{'dropdown--opened':isOpened}" (click)="isOpened = !isOpened"><span>Setting</span></div>

<div class="setting ht-setting">
  <ul class="ht-setting-list">
      <li><a href="login-register.html">My Account</a></li>
      <li><a href="checkout.html">Checkout</a></li>
      <li><a href="login-register.html">Sign In</a></li>
  </ul>
</div> -->


<ul class="hb-dropdown">
    <li><a href="#">My Account</a></li>
    <li><a href="#">CheckOut</a></li>
    <li><a href="#">Sign In</a></li>
</ul>