<!-- <div class="card">
  <div class="card-body">
    <p class="card-text">Dirty: {{productForm.dirty}}</p>
    <p class="card-text">Touched: {{productForm.touched}}</p>
    <p class="card-text">Valid: {{productForm.valid}}</p>
    <p class="card-text">{{productForm.value | json}}</p>
  </div>
</div> -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <form (ngSubmit)="saveProduct()" class="alternate-theme" [formGroup]="productForm">
        <mat-vertical-stepper #linearVerticalStepper="matVerticalStepper" formArrayName="formArray" [linear]="isLinear">
          //basic information step
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel>Basic Information</ng-template>
            <div class="form-group">
              <mat-form-field class="w-100">
                <mat-label>Product name</mat-label>
                <input matInput formControlName="productNameFormCtrl">
                <mat-error>This field is required</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="w-50">
                <mat-label>Price</mat-label>
                <input type="number" matInput formControlName="priceFormCtrl">
                <span matPrefix>$&nbsp;</span>
                <mat-error>This field is required</mat-error>
              </mat-form-field>

              <mat-slide-toggle class="ml-50 mr-10" formControlName="discountToggleFormCtrl">has discount?
              </mat-slide-toggle>
              <mat-form-field class="w-25">
                <mat-label>Discount</mat-label>
                <input type="number" matInput formControlName="discountFormCtrl">
                <span matPrefix>$&nbsp;</span>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
            </div>

            <mat-form-field class="w-100" hideRequiredMarker="false">
              <mat-label>Please select a category </mat-label>
              <mat-select formControlName="categoryFormCtrl">
                <mat-option>---</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category.id">
                  {{category.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formArray?.get([0]).get('categoryFormCtrl').hasError('required')">
                This field is required </mat-error>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          //specs and description step
          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
            <ng-template matStepLabel>Specs and description</ng-template>

            <mat-form-field class="example-full-width w-100">
              <textarea matInput placeholder="Enter product full description"
                formControlName="productDescriptionFormCtrl"></textarea>
            </mat-form-field>
            <mat-divider class="mb-10"></mat-divider>
            <button class="btn btn-success" (click)="addSpecFormGroup()">Add new spec</button>
            <div formArrayName="specsArray"
            *ngFor="let spec of specsArray.controls; let i = index">
            <mat-divider class="mb-10 mt-10"></mat-divider>
              <div class="row" [formGroupName]="i">
                <div class="col-md-5">
                  <mat-form-field class="w-100">
                    <mat-label>Spec name</mat-label>
                    <input matInput formControlName="productSpecNameFormCtrl">
                    <mat-error>This field is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="pl-10 w-100">
                    <mat-label>Spec value</mat-label>
                    <input matInput formControlName="productSpecValueFormCtrl">
                    <mat-error>This field is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <button (click)="deleteSpecFormGroup(i)" type="button" class="close text-danger" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

              </div>
            </div>


            <mat-divider class="mt-10"></mat-divider>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          //upload product images step
          <mat-step >
            <ng-template matStepLabel>
              <div>Upload Product Images</div>
            </ng-template>
            <!-- file uploader -->
            <div class="container">

              <div class="row justify-content-center">
                <div class="col-md-8">

                  <h3>Select files</h3>

                  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                    [uploader]="uploader" class="well my-drop-zone w-100">
                    <div class="justify-content-center">
                      <img class="dragImage" src="assets/images/icons/Download_512px.png" alt="">
                    </div>
                    <div class="pt-30">
                      <button class="btn btn-warning" (click)="fileInput.click()">
                        Browse files</button> or <strong>Drag</strong> it here
                    </div>
                  </div>

                  <input hidden type="file" ng2FileSelect [uploader]="uploader" #fileInput multiple /><br />

                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-12" style="margin-bottom: 40px">

                  <h3>Upload queue</h3>
                  <p>Queue length: {{ uploader?.queue?.length }}</p>

                  <table class="table">
                    <thead>
                      <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB
                        </td>
                        <td *ngIf="uploader.options.isHTML5">
                          <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
                            </div>
                          </div>
                        </td>
                        <td class="text-center">
                          <span *ngIf="item.isSuccess"><i class="fas fa-arrow-circle-up"></i></span>
                          <span *ngIf="item.isCancel"><i class="fas fa-ban"></i></span>
                          <span *ngIf="item.isError"><i class="fas fa-trash-alt"></i></span>
                        </td>
                        <td nowrap>
                          <button type="button" class="btn btn-success btn-xs" (click)="item.upload()"
                            [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <i class="fas fa-arrow-circle-up"></i> Upload
                          </button>
                          <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()"
                            [disabled]="!item.isUploading">
                            <i class="fas fa-ban"></i> Cancel
                          </button>
                          <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <i class="fas fa-trash-alt"></i> Remove
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div>
                    <div>
                      Queue progress:
                      <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s " (click)="uploader.uploadAll()"
                      [disabled]="!uploader.getNotUploadedItems().length">
                      <i class="fas fa-arrow-circle-up"></i> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s ml-5" (click)="uploader.cancelAll()"
                      [disabled]="!uploader.isUploading">
                      <i class="fas fa-ban"></i> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s ml-5" (click)="uploader.clearQueue()"
                      [disabled]="!uploader.queue.length">
                      <i class="fas fa-trash-alt"></i> Remove all
                    </button>
                  </div>

                </div>
              </div>

            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          //confirm all data
          <mat-step>
            <ng-template matStepLabel>Confirm all data</ng-template>
            Everything seems correct.
            <div>
              <button mat-button>Done</button>
              <button type="button" mat-button (click)="linearVerticalStepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </form>
    </div>
  </div>
</div>
