<header>
  <!-- Begin Header Top Area -->
  <app-upper-header></app-upper-header>
  <!-- Header Top Area End Here -->
  <!-- Begin Header Middle Area -->
  <app-middle-header></app-middle-header>
  <!-- Header Middle Area End Here -->
  <!-- Begin Header Bottom Area -->
  <app-bottom-header></app-bottom-header>
  <!-- Header Bottom Area End Here -->
  <!-- Begin Mobile Menu Area -->
  <div class="mobile-menu-area d-lg-none d-xl-none col-12">
      <div class="container">
          <div class="row">
              <div class="mobile-menu">
              </div>
          </div>
      </div>
  </div>
  <!-- Mobile Menu Area End Here -->
</header>
