<div class="featured-pro-with-banner mt-sm-5 pb-sm-10 mt-xs-5 pb-xs-10">
  <div class="container">
      <div class="row">
          <!-- Begin Li's Featured Banner Area -->
          <div class="col-lg-3 text-center">
              <div class="single-banner featured-banner">
                  <a href="#">
                      <img src="assets/images/banner/featured-banner.jpg" alt="Li's Featured Banner">
                  </a>
              </div>
          </div>
          <!-- Li's Featured Banner Area End Here -->
          <!-- Begin Featured Product Area -->
          <div class="col-lg-9">
              <div class="featured-product pt-sm-30 pt-xs-30">
                  <div class="li-section-title">
                      <h2>
                          <span>Featured Products</span>
                      </h2>
                  </div>
                  <div class="row">
                      <div class="featured-product-active owl-carousel owl-loaded owl-drag">
                          
                      <div class="owl-stage-outer">
                          <div class="owl-stage" style="transform: translate3d(-1350px, 0px, 0px); transition: all 0.25s ease 0s; width: 2250px;">
                            <div class="owl-item cloned" style="width: 450px;">
                                <div class="featured-product-bundle">
                              <div class="featured-pro-wrapper mb-30 mb-sm-25">
                                  <div class="product-img">
                                      <a href="product-details.html">
                                          <img alt="" src="assets/images/featured-product/1.jpg">
                                      </a>
                                  </div>
                                  <div class="featured-pro-content">
                                      <div class="product-review">
                                          <h5 class="manufacturer">
                                              <a href="shop-left-sidebar.html">Studio Design</a>
                                          </h5>
                                      </div>
                                      <div class="rating-box">
                                          <ul class="rating">
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li class="no-star"><i class="fa fa-star-o"></i></li>
                                              <li class="no-star"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <h4><a class="featured-product-name" href="single-product.html">Mug Today is a good day</a></h4>
                                      <div class="featured-price-box">
                                          <span class="new-price new-price-2">$71.80</span>
                                          <span class="old-price">$77.22</span>
                                          <span class="discount-percentage">-7%</span>
                                      </div>
                                      <div class="featured-product-action">
                                          <ul class="add-actions-link">
                                              <li class="add-cart active"><a href="#">Add to cart</a></li>
                                              <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                                              <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="featured-pro-wrapper">
                                  <div class="product-img">
                                      <a href="product-details.html">
                                          <img alt="" src="assets/images/featured-product/1.jpg">
                                      </a>
                                  </div>
                                  <div class="featured-pro-content">
                                      <div class="product-review">
                                          <h5 class="manufacturer">
                                              <a href="shop-left-sidebar.html">Studio Design</a>
                                          </h5>
                                      </div>
                                      <div class="rating-box">
                                          <ul class="rating">
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li class="no-star"><i class="fa fa-star-o"></i></li>
                                              <li class="no-star"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <h4><a class="featured-product-name" href="single-product.html">Mug Today is a good day</a></h4>
                                      <div class="featured-price-box">
                                          <span class="new-price">$71.80</span>
                                      </div>
                                      <div class="featured-product-action">
                                          <ul class="add-actions-link">
                                              <li class="add-cart active"><a href="#">Add to cart</a></li>
                                              <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                                              <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                                </div>
                            </div>
                          <div class="owl-item cloned" style="width: 450px;">
                            <div class="featured-product-bundle">
                              <div class="featured-pro-wrapper mb-30 mb-sm-25">
                                  <div class="product-img">
                                      <a href="product-details.html">
                                          <img alt="" src="assets/images/featured-product/1.jpg">
                                      </a>
                                  </div>
                                  <div class="featured-pro-content">
                                      <div class="product-review">
                                          <h5 class="manufacturer">
                                              <a href="shop-left-sidebar.html">Studio Design</a>
                                          </h5>
                                      </div>
                                      <div class="rating-box">
                                          <ul class="rating">
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li class="no-star"><i class="fa fa-star-o"></i></li>
                                              <li class="no-star"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <h4><a class="featured-product-name" href="single-product.html">Mug Today is a good day</a></h4>
                                      <div class="featured-price-box">
                                          <span class="new-price new-price-2">$71.80</span>
                                          <span class="old-price">$77.22</span>
                                          <span class="discount-percentage">-7%</span>
                                      </div>
                                      <div class="featured-product-action">
                                          <ul class="add-actions-link">
                                              <li class="add-cart active"><a href="#">Add to cart</a></li>
                                              <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                                              <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="featured-pro-wrapper">
                                  <div class="product-img">
                                      <a href="product-details.html">
                                          <img alt="" src="assets/images/featured-product/1.jpg">
                                      </a>
                                  </div>
                                  <div class="featured-pro-content">
                                      <div class="product-review">
                                          <h5 class="manufacturer">
                                              <a href="shop-left-sidebar.html">Studio Design</a>
                                          </h5>
                                      </div>
                                      <div class="rating-box">
                                          <ul class="rating">
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li class="no-star"><i class="fa fa-star-o"></i></li>
                                              <li class="no-star"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <h4><a class="featured-product-name" href="single-product.html">Mug Today is a good day</a></h4>
                                      <div class="featured-price-box">
                                          <span class="new-price">$71.80</span>
                                      </div>
                                      <div class="featured-product-action">
                                          <ul class="add-actions-link">
                                              <li class="add-cart active"><a href="#">Add to cart</a></li>
                                              <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                                              <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="owl-item" style="width: 450px;"><div class="featured-product-bundle">
                              <div class="featured-pro-wrapper mb-30 mb-sm-25">
                                  <div class="product-img">
                                      <a href="product-details.html">
                                          <img alt="" src="assets/images/featured-product/1.jpg">
                                      </a>
                                  </div>
                                  <div class="featured-pro-content">
                                      <div class="product-review">
                                          <h5 class="manufacturer">
                                              <a href="shop-left-sidebar.html">Studio Design</a>
                                          </h5>
                                      </div>
                                      <div class="rating-box">
                                          <ul class="rating">
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li class="no-star"><i class="fa fa-star-o"></i></li>
                                              <li class="no-star"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <h4><a class="featured-product-name" href="single-product.html">Mug Today is a good day</a></h4>
                                      <div class="featured-price-box">
                                          <span class="new-price new-price-2">$71.80</span>
                                          <span class="old-price">$77.22</span>
                                          <span class="discount-percentage">-7%</span>
                                      </div>
                                      <div class="featured-product-action">
                                          <ul class="add-actions-link">
                                              <li class="add-cart active"><a href="#">Add to cart</a></li>
                                              <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                                              <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="featured-pro-wrapper">
                                  <div class="product-img">
                                      <a href="product-details.html">
                                          <img alt="" src="assets/images/featured-product/1.jpg">
                                      </a>
                                  </div>
                                  <div class="featured-pro-content">
                                      <div class="product-review">
                                          <h5 class="manufacturer">
                                              <a href="shop-left-sidebar.html">Studio Design</a>
                                          </h5>
                                      </div>
                                      <div class="rating-box">
                                          <ul class="rating">
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li><i class="fa fa-star-o"></i></li>
                                              <li class="no-star"><i class="fa fa-star-o"></i></li>
                                              <li class="no-star"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <h4><a class="featured-product-name" href="single-product.html">Mug Today is a good day</a></h4>
                                      <div class="featured-price-box">
                                          <span class="new-price">$71.80</span>
                                      </div>
                                      <div class="featured-product-action">
                                          <ul class="add-actions-link">
                                              <li class="add-cart active"><a href="#">Add to cart</a></li>
                                              <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                                              <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div></div>
                          
                          </div>
                      </div>
                          <!-- <div class="owl-nav disabled"><div class="owl-prev"><i class="ion-ios-arrow-back"></i></div><div class="owl-next"><i class="ion-ios-arrow-forward"></i></div></div>
                          <div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div></div> -->
                  </div>
              </div>
          </div>
          <!-- Featured Product Area End Here -->
      </div>
  </div>
</div>