<!-- Begin Header Top Area -->
<div class="header-top">
  <div class="container">
      <div class="row">
          <!-- Begin Header Top Left Area -->
          <div class="col-lg-3 col-md-4">
              <div class="header-top-left">
                  <ul class="phone-wrap">
                      <li><span>Telephone Enquiry:</span><a href="callto://+123123321345">(+123) 123 321 345</a></li>
                  </ul>
              </div>
          </div>
          <!-- Header Top Left Area End Here -->
          <!-- Begin Header Top Right Area -->
          <div class="col-lg-9 col-md-8">
              <div class="header-top-right">
                  <ul class="ht-menu">
                      <!-- Begin Setting Area -->
                      <li>
                          <div class="ht-setting-trigger"><span>Setting</span></div>
                          <div class="setting ht-setting">
                              <ul class="ht-setting-list">
                                  <li><a href="login-register.html">My Account</a></li>
                                  <li><a href="checkout.html">Checkout</a></li>
                                  <li><a href="login-register.html">Sign In</a></li>
                              </ul>
                          </div>
                      </li>
                      <!-- Setting Area End Here -->
                  </ul>
              </div>
          </div>
          <!-- Header Top Right Area End Here -->
      </div>
  </div>
</div>