
/*----------------------------------------*/
/*  1.1 Basic
/*----------------------------------------*/
body {
	color: #242424;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	overflow-x: hidden;
}
a {
	color: #a4a4a4;
	transition: 0.3s ease-in-out;
}
a:hover {
	color: #fed700;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.img-full {
		width: 100%;
		overflow: hidden;
		display: block;
}
a:focus,
a:hover {
	color: #fed700;
	text-decoration: none;
}
a,
button,
input {
	outline: medium none;
	color: #a5a5a5;
}
button:focus {
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 700;
	color: inherit;
	line-height: 1.1;
	margin-top: 0;
	margin-bottom: 8px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit
}
h1 {
	font-size: 35px;
	font-weight: 500;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #898989;
	margin-bottom: 15px;
}
hr {
	margin: 60px 0;
	padding: 0px;
	border-bottom: 1px solid #eceff8;
	border-top: 0px;
}
hr.style-2 {
	border-bottom: 1px dashed #f10;
}
hr.mp-0 {
	margin: 0;
	border-bottom: 1px solid #eceff8;
}
hr.mtb-40 {
	margin: 40px 0;
	border-bottom: 1px solid #eceff8;
	border-top: 0px;
}
label {
	font-size: 15px;
	font-weight: 400;
	color: #626262;
}
*::-moz-selection {
	background: #4fc1f0;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #4fc1f0;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #4fc1f0;
	color: #fff;
	text-shadow: none;
}
.mark,
mark {
	background: #4fc1f0 none repeat scroll 0 0;
	color: #ffffff;
}
span.tooltip-content {
	color: #00a9da;
	cursor: help;
	font-weight: 600;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
.f-left {
	float: left;
}
.f-right {
	float: right;
}
.fix {
	overflow: hidden;
}
.t-center {
	text-align: center;
}
.t-right {
	text-align: right;
}
.t-left {
	text-align: left;
}
.container {
	width: auto;
	max-width: 100%;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
	background-color: #fed700;
}
.nice-select .option:hover {
	color: #ffffff;
}
iframe {
	width: 100%;
	height: 300px;
}
/*----------------------------------------*/
/*  1.2 Transition
/*----------------------------------------*/
a.button::after,
a.button-small::after {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.share ul,
.share:hover ul {
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}
a.button-border span,
a.button-border-white span,
input,
select,
textarea {
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-ms-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
}
/*----------------------------------------*/
/*  1.3 Section Title
/*----------------------------------------*/
.section-title > h3,
.section-title-2 > h3,
.section-title-2 > p {
	color: #ffffff;
	font-family: roboto;
	font-size: 30px;
	font-style: normal;
	font-weight: 900;
	line-height: 24px;
	margin-bottom: 34px;
	text-align: center;
}
.section-title-2>h3 {
	color: #222222
}
.section-title > p,
.section-title-2 > p {
	color: #ffffff;
	font-style: italic;
	margin-bottom: 44px;
	text-align: center;
	font-size: 14px;
}
.section-title-2 > p {
	color: inherit;
	font-weight: 400;
}
/*----------------------------------------*/
/*  1.4 Default Button
/*----------------------------------------*/
button.li-btn {
	border: none;
	background: #fed700;
	color: #242424;
	font-size: 20px;
	width: 45px;
	border-radius: 0 2px 2px 0;
	height: 45px;
	line-height: 45px;
	position: absolute;
	right: -1px;
	top: -1px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
button.li-btn:hover {
	background: #333333;
	color: #ffffff;
}
a.links,
a.links-2,
a.review-links {
	background: #fed700 none repeat scroll 0 0;
	color: #242424;
	display: inline-block;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;
	width: 170px;
	text-align: center;
}
a.links:hover,
a.links-2:hover {
	background: #333333 none repeat scroll 0 0;
	color: #fff;
}
a.review-links {
	background: #242424;
	color: #ffffff;
	width: 205px;
	height: 40px;
	line-height: 40px;
}
a.review-links:hover {
	background: #fed700;
}
/*----------------------------------------*/
/*  1.5 Text Color
/*----------------------------------------*/
.text-blue {
	color: #4FC1F0;
}
.text-white {
	color: #fff;
}
.text-black {
	color: #363636;
}
.text-theme {
	color: #f10;
}
.text-white h1,
.text-white p,
.text-white h2 {
	color: #fff;
}
.text-white {
	color: #fff;
}
.text-black {
	color: #363636;
}
.text-theme {
	color: #f10;
}
/*----------------------------------------*/
/*  1.6 Input
/*----------------------------------------*/
input {
	background: #eceff8;
	border: 2px solid #eceff8;
	height: 45px;
	box-shadow: none;
	padding-left: 10px;
	font-size: 14px;
	color: #626262;
	width: 100%;
}
select {
	width: 100%;
	background: #eceff8;
	border: 2px solid #eceff8;
	height: 45px;
	padding-left: 10px;
	box-shadow: none;
	font-size: 14px;
	color: #626262;
}
option {
	background: #fff;
	border: 0px solid #626262;
	padding-left: 10px;
	font-size: 14px;
}
input:focus {
	background: transparent;
	border: none;
	outline: none;
}
textarea {
	resize: vertical;
	background: #eceff8;
	border: 2px solid #eceff8;
	padding: 10px;
	width: 100%;
	font-size: 14px;
}
textarea:focus {
	background: transparent;
	border: 2px solid #4FC1F0;
	outline: none;
}
::-moz-placeholder {
	color: #444;
	font-size: 13px;
}
.input-group.divcenter.input-group .form-control {
	padding-left: 0px
}
/*----------------------------------------*/
/*  1.8 Background Variation Set
/*----------------------------------------*/
/*Home One | Slider Background Image*/
.bg-1, .bg-2, .bg-3 {
	background-image: url(src/assets/images/slider/1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 475px;
	width: 100%;
}
.bg-2 {
	background-image: url(src/assets/images/slider/2.jpg);
}
.bg-3 {
	background-image: url(src/assets/images/slider/3.jpg);
}
/*Home Two | Slider Background Image*/
.bg-4, .bg-5, .bg-6 {
	background-image: url(src/assets/images/slider/4.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 475px;
	width: 100%;
}
.bg-5 {
	background-image: url(src/assets/images/slider/5.jpg);
}
.bg-6 {
	background-image: url(src/assets/images/slider/6.jpg);
}
/*Home Three | Slider Background Image*/
.bg-7, .bg-8, .bg-9 {
	background-image: url(src/assets/images/slider/7.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 425px;
	width: 100%;
}
.bg-8 {
	background-image: url(src/assets/images/slider/8.jpg);
}
.bg-9 {
	background-image: url(src/assets/images/slider/9.jpg);
}
/*Home Four | Slider Background Image*/
.bg-10, .bg-11, .bg-12 {
	background-image: url(src/assets/images/slider/10.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 770px;
	width: 100%;
}
.bg-11 {
	background-image: url(src/assets/images/slider/11.jpg);
}
.bg-12 {
	background-image: url(src/assets/images/slider/12.jpg);
}
/*----------------------------------------*/
/*  li's Background Variation Set
/*----------------------------------------*/
.white-bg {
	background: #fff;
}
.white-smoke-bg {
	background: #f8f8f8;
}
.gray-bg {
	background: #e8e8e8;
}
.blue-bg {
	background: #4FC1F0;
}
.default-bg {
	background: #50C1F0;
}
.black-bg {
	background: #000;
}
.transparent-bg {
	background: transparent;
}
/*----------------------------------------*/
/*  1.9 Animation
/*----------------------------------------*/
/* Slider Progress Bar */
.slider-active .owl-item.active .slider-progress {
	-webkit-animation: 5000ms ease-in-out 0s normal none 1 running timebar;
	animation: 10000ms ease-in-out 0s normal none 1 running timebar;
	background: rgba(0, 0, 0, .3);
	height: 5px;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	z-index: 4;
}
/* animation-style-01 */
.owl-item.active .animation-style-01 .slider-content h5,
.owl-item.active .animation-style-01 .slider-content-2 h5 {
    -webkit-animation: 800ms ease-in-out 0s normal none 1 running zoomInRight;
    animation: 800ms ease-in-out 0s normal none 1 running zoomInRight;
}

.owl-item.active .animation-style-01 .slider-content h2 {
    -webkit-animation: 1200ms ease-in-out 0s normal none 1 running zoomInRight;
    animation: 1200ms ease-in-out 0s normal none 1 running zoomInRight;
}

.owl-item.active .animation-style-01 .slider-content h3,
.owl-item.active .animation-style-01 .slider-content-2 h3 {
    -webkit-animation: 1600ms ease-in-out 0s normal none 1 running zoomInRight;
    animation: 1600ms ease-in-out 0s normal none 1 running zoomInRight;
}

.owl-item.active .animation-style-01 .slider-content .slide-btn,
.owl-item.active .animation-style-01 .slider-content-2 .slide-btn {
    -webkit-animation: 2000ms ease-in-out 0s normal none 1 running zoomInRight;
    animation: 2000ms ease-in-out 0s normal none 1 running zoomInRight;
}
.owl-item.active .animation-style-01 .slider-content-2 .img-slide {
    -webkit-animation: 1000ms ease-in-out 0s normal none 1 running slideInUp;
    animation: 1000ms ease-in-out 0s normal none 1 running slideInUp;
}
.owl-item.active .animation-style-02 .slider-content-2 .img-slide {
    -webkit-animation: 1000ms ease-in-out 0s normal none 1 running slideInUp;
    animation: 1000ms ease-in-out 0s normal none 1 running slideInUp;
}

/* animation-style-02 */
.owl-item.active .animation-style-02 .slider-content h5,
.owl-item.active .animation-style-02 .slider-content-2 h5 {
    -webkit-animation: 800ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 800ms ease-in-out 0s normal none 1 running zoomInUp;
}

.owl-item.active .animation-style-02 .slider-content h2 {
    -webkit-animation: 1200ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 1200ms ease-in-out 0s normal none 1 running zoomInUp;
}

.owl-item.active .animation-style-02 .slider-content h3,
.owl-item.active .animation-style-02 .slider-content-2 h3 {
    -webkit-animation: 1600ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 1600ms ease-in-out 0s normal none 1 running zoomInUp;
}

.owl-item.active .animation-style-02 .slider-content .slide-btn,
.owl-item.active .animation-style-02 .slider-content-2 .slide-btn {
    -webkit-animation: 2000ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 2000ms ease-in-out 0s normal none 1 running zoomInUp;
}
@-webkit-keyframes timebar {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@keyframes timebar {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@keyframes timebar {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
/*Top Up Keyframes*/
@-webkit-keyframes liSlideInUp {
	0% {
		-webkit-transform: translateY(250px);
		transform: translateY(250px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes liSlideInUp {
	0% {
		-webkit-transform: translateY(250px);
		transform: translateY(250px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
/*----------------------------------------*/
/*  1.10 All Navigation & Pagination
/*----------------------------------------*/
.slider-active .owl-nav div,
.product-active .owl-nav div,
.special-product-active .owl-nav div {
	color: rgba(36,36,36,.15);
	display: block;
	left: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
	z-index: 8;
}
.slider-active .owl-nav div:hover,
.product-active .owl-nav div:hover {
	color: #fed700;
}
.slider-active:hover .owl-nav div, .product-active:hover .owl-nav div {
	opacity: 1;
}
.slider-active:hover .owl-nav div.owl-prev {
	left: 10px;
}
.slider-active:hover .owl-nav div.owl-next, .product-active:hover .owl-nav div.owl-next {
	right: 10px;
}
.slider-active .owl-nav div.owl-next, .product-active .owl-nav div.owl-next {
	right: 0;
	left: auto;
}
.slider-active .owl-nav > .owl-prev > i,
.product-active .owl-nav > .owl-prev > i,
.slider-active .owl-nav > .owl-next > i,
.product-active .owl-nav > .owl-next > i {
	font-size: 55px;
	font-weight: 700;
}
/*Product Active Nav Direction*/
.product-active .owl-nav div.owl-prev {
	left: -20px;
}
.product-active:hover .owl-nav div.owl-prev {
	top: 55%;
}
.product-active .owl-nav div.owl-next {
	right: -20px;
}
.product-active:hover .owl-nav div.owl-next {
	top: 55%;
	right: -20px;
}
@media only screen and (max-width: 1199px) {
	/*Product Nav Arrow*/
	.product-active .owl-nav {
		display: none;
	}
}
/* Default Pagination */
.owl-dots {
	bottom: 15px;
	margin-top: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 12;
}
.slider-active .owl-dots {
	display: none;
}
.owl-dots .owl-dot {
	background: #fff none repeat scroll 0 0;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	height: 10px;
	margin: 0 4px;
	position: relative;
	text-align: center;
	-webkit-transition: all 300ms ease-in 0s;
	transition: all 300ms ease-in 0s;
	width: 10px;
	z-index: 8;
}
.owl-dots .owl-dot.active {
	background: #fed700 none repeat scroll 0 0;
	width: 32px;
}
.testimonials-active .owl-dots .owl-dot {
	background: #000 none repeat scroll 0 0;
	border-radius: 0;
	height: 7px;
	width: 7px;
}
.testimonials-active .owl-dots .owl-dot.active, .testimonials-active-2 .owl-dots .owl-dot.active {
	background: #fff none repeat scroll 0 0;
}
.testimonials-active-2 .owl-dots .owl-dot.active {
	background: #ebebeb;
}
.slider-area-2 .owl-dots {
	display: none;
}
/*----------------------------------------*/
/*  1.11 Owl Carousel Box Shadow
/*----------------------------------------*/
/*Product Active Box Shadow*/
.product-active {
	padding: 0 10px;
	overflow: hidden;
}
.product-active:hover {
	overflow: visible;
}
.product-area .owl-carousel .owl-item {
	padding: 25px 0;
}
.product-area .owl-carousel .owl-stage-outer {
	margin: 0 0 -100px;
	padding: 0 0 85px;
	position: relative;
}
/*Special Product Active Box Shadow*/
.special-product-active {
	padding: 0;
	overflow: hidden;
}
.special-product-active:hover {
	overflow: visible;
}
.special-product-active .single-product-wrap::before {
	left: 0;
	right: 0;
}
.special-product-active .product-image {
	position: relative;
	padding: 0 10px;
}
.special-product-active .product_desc {
	margin: 15px 15px 0;
}
.special-product-active .add-actions {
	padding: 0 15px;
	transition: all 0.3s ease-in-out;
}
/*Shop Product Area Box Shadow*/
.shop-product-area .single-product-wrap::before {
	left: 0;;
	right: 0;
}
.shop-product-area .product_desc {
	margin: 15px 15px 0;
}
.shop-product-area .add-actions {
	padding: 0 15px;
}
/*----------------------------------------*/
/* 	1.12 Li's Mobile Menu Customization
/*----------------------------------------*/
.mobile-menu .mean-nav > ul {
	overflow-y: auto;
	max-height: 400px;
}
.mobile-menu {
     -webkit-box-flex: 1 !important;
     -ms-flex: 1 0 100% !important;
     flex: 1 0 100% !important;
}
 .mobile-menu .mean-bar {
     position: relative;
    /*---- Mean Nav ----*/
}
.mobile-menu-area .mobile-menu .mean-bar .meanmenu-reveal,
.mobile-menu-area-4 .mobile-menu .mean-bar .meanmenu-reveal {
	position: absolute;
	top: -75px;
	left: auto !important;
	right: -12px !important;
}
.mobile-menu-area-4 .mobile-menu .mean-bar .meanmenu-reveal {
	color: #ffffff;
}
.mobile-menu .mean-bar .meanmenu-reveal span,
.mobile-menu-area-4 .mobile-menu .mean-bar .meanmenu-reveal span {
     position: relative;
    /*---- Menu Open ----*/
    /*---- Menu Close ----*/
}
.mobile-menu-area-4 .mobile-menu .mean-bar .meanmenu-reveal span {
	background: #ffffff;
}
.mean-container a.meanmenu-reveal span {
	display: block;
	background: #282828;
	height: 3px;
	margin-top: 3px;
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:before, .mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:after {
     content: "";
     position: absolute;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #202020;
}
.mean-container a.meanmenu-reveal {
	color: #282828;
}
.mean-container .mean-bar {
	padding: 0;
	min-height: 0;
}
.mean-container .mean-nav {
	background: transparent;
	margin-top: 0;
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:before {
     top: -8px;
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:after {
     bottom: -8px;
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-close {
     height: 2px;
     width: 26px;
     background-color: transparent;
     display: block;
     margin: 8px 0;
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-close:before, .mobile-menu .mean-bar .meanmenu-reveal span.menu-close:after {
     content: "";
     position: absolute;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #202020;
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-close:before {
     top: 0;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-close:after {
     bottom: 0;
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
}
 .mobile-menu .mean-bar .mean-nav {
     background-color: #ffffff;
}
 .mobile-menu .mean-bar .mean-nav > ul {
     margin-bottom: 30px;
     border: 1px solid #eeeeee;
     border-top: 0px solid transparent;
     overflow-x: hidden;
}
 @media only screen and (max-width: 767px) {
     .mobile-menu .mean-bar .mean-nav > ul {
         max-height: 180px;
         overflow-y: auto;
    }
}
 @media only screen and (max-width: 479px) {
     .mobile-menu .mean-bar .mean-nav > ul {
         max-height: 220px;
         overflow-y: auto;
    }
}
 .mobile-menu .mean-bar .mean-nav > ul li {
     position: relative;
     display: block;
     float: left;
     width: 100%;
    /*---- Sub Menu & Mega Menu ----*/
}
.mobile-menu .mean-bar .mean-nav > ul li a {
	font-size: 13px;
	display: block;
	color: #444444;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 44px;
	position: relative;
	border-top: 1px solid #eeeeee;
	padding: 0 40px 0 20px;
	width: 100%;
}
 .mobile-menu .mean-bar .mean-nav > ul li a:hover {
     color: #202020;
     padding-left: 25px;
}
.mobile-menu .mean-bar .mean-nav > ul li a.mean-expand {
	border: 1px solid #eeeeee;
	position: absolute;
	right: -1px;
	top: 0;
	font-size: 20px !important;
	color: #444444;
	line-height: 44px;
	height: 46px;
	width: 40px;
	text-align: center;
	padding: 0 !important;
	background-color: transparent;
}
 .mobile-menu .mean-bar .mean-nav > ul li a.mean-expand.mean-clicked {
     line-height: 40px;
}
.mobile-menu .mean-bar .mean-nav > ul li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu, .mobile-menu .mean-bar .mean-nav > ul li ul {
	position: static;
	background-color: #fff;
	margin: 0;
	padding: 0 !important;
	width: 100%;
	box-shadow: none;
	display: none;
	float: left;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform: perspective(0px) rotateX(0deg);
	        transform: perspective(0px) rotateX(0deg);
	-webkit-transition: none;
	transition: none;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li, .mobile-menu .mean-bar .mean-nav > ul li ul li {
     padding: 0;
     margin: 0;
     -webkit-box-flex: 0;
     -ms-flex: 0 0 100%;
     flex: 0 0 100%;
     border-right: 0px solid transparent;
     width: 100%;
     display: block !important;
     float: left;
     width: 100%;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li a, .mobile-menu .mean-bar .mean-nav > ul li ul li a {
     font-size: 12px;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li a:before, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li a:before, .mobile-menu .mean-bar .mean-nav > ul li ul li a:before {
     display: none;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li ul li ul {
     background-color: rgba(0, 0, 0, 0.04);
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul li a, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li ul li ul li a {
     border-top: 1px solid #dddddd;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li ul li a.mean-expand {
     border: 1px solid #dddddd;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu ul, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul ul, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu ul, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul ul, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu ul, .mobile-menu .mean-bar .mean-nav > ul li ul li ul .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li ul li ul ul {
     background-color: rgba(0, 0, 0, 0.05);
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu ul li a, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul ul li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu ul li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul ul li a, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu ul li a, .mobile-menu .mean-bar .mean-nav > ul li ul li ul .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li ul li ul ul li a {
     border-top: 1px solid #eeeeee;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li ul .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li ul ul li a.mean-expand {
     border: 1px solid #eeeeee;
}
/*----------------------------------------*/
/* 1.13 Modal Area
/*----------------------------------------*/
.modal-wrapper {
  display: block !important;
}
.modal-wrapper.modal {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -9;
}
.modal-wrapper.modal.show {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  z-index: 1050;
}
.modal-wrapper .modal-dialog {
  max-width: 880px;
}
.modal-wrapper .close {
  color: #333333;
  font-size: 30px;
  font-weight: 400;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  position: absolute;
  right: 15px;
  top: 5px;
  z-index: 99;
}
.modal-wrapper .close:hover {
	color: #fed700;
}
.modal-wrapper .slider-thumbs-1 {
  margin-top: 10px;
  margin-right: -10px;
}
.modal-wrapper .slider-thumbs-1 .sm-image {
  margin-right: 10px;
}

.product-details-images .lg-image img,
.product-details-thumbs .sm-image img {
  width: 100%;
}

.product-details-thumbs .sm-image {
  cursor: pointer;
}

.product-details-view-content .product-info h2 {
  font-size: 18px;
  letter-spacing: -.025em;
  line-height: 24px;
  color: #0363cd;
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 0 15px 0;
}
.product-details-ref {
	font-size: 13px;
	color: #7a7a7a;
}
.product-details-view-content .product-info .price-box {
  margin-bottom: 20px;
}
.product-details-view-content .product-info .price-box .new-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  color: #e80f0f;
}
.product-details-view-content .content-center .product-variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-variants .produt-variants-size {
  margin-right: 30px;
}
.product-variants .produt-variants-size label {
	display: block;
	font-size: 14px;
	font-weight: 400;
}
.product-variants .produt-variants-size .form-control-select {
  width: 60px;
  border-radius: 0px;
  border: 1px solid #ddd;
  height: 30px;
}
.product-variants .produt-variants-color label {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.product-variants .produt-variants-color .color-list li {
  display: inline-block;
  margin-right: 10px;
}
.product-variants .produt-variants-color .color-list li a {
  border: 2px solid rgba(0, 0, 0, 0);
  display: block;
  height: 28px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 28px;
}
.product-variants .produt-variants-color .color-list li a:hover {
  border: 2px solid #333333;
}
.product-variants .produt-variants-color .color-list li a.orange-color {
  background: #f39c11;
}
.product-variants .produt-variants-color .color-list li a.orange-color.active {
  border: 2px solid #333333;
}
.product-variants .produt-variants-color .color-list li a.paste-color {
  background: #5d9cec;
}
.cart-quantity {
	margin-top: 25px;
	overflow: hidden;
	float: left;
	width: 100%;
}
.cart-quantity label {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.cart-quantity .add-to-cart {
	border: none;
	font-size: 14px;
	color: #242424;
	position: relative;
	background: #fed700;
	cursor: pointer;
	font-weight: 500;
	text-transform: capitalize;
	padding: 13px 70px;
	border-radius: 2px;
	transition: all 0.3s ease-in-out;
}
.cart-quantity .add-to-cart:hover {
  background: #242424;
  color: #ffffff;
}
.cart-plus-minus {
  float: left;
  margin-right: 15px;
  position: relative;
  width: 76px;
  text-align: left;
}
.cart-plus-minus .cart-plus-minus-box {
	border: 1px solid #e1e1e1;
	color: #242424;
	height: 46px;
	text-align: center;
	width: 48px;
	width: 48px;
	width: 3rem;
	background: #fff;
}
.cart-plus-minus .dec.qtybutton, .cart-plus-minus .inc.qtybutton {
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  color: #333333;
  cursor: pointer;
  height: 23px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 28px;
}
.cart-plus-minus .dec.qtybutton:hover, .cart-plus-minus .inc.qtybutton:hover {
  background: #ddd;
}
.cart-plus-minus .dec.qtybutton {
  bottom: 0;
  right: 0;
}
.cart-plus-minus .inc.qtybutton {
  border-bottom: none;
  top: 0;
  right: 0;
}
.product-details-thumbs .slick-arrow,
.tab-style-right .slick-arrow,
.tab-style-left .slick-arrow {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  right: auto;
  background: #242424;
  color: #ffffff;
  border: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.tab-style-right .slick-arrow, .tab-style-left .slick-arrow {
	top: 16px;
	left: 40px;
	right: auto;
}
.product-details-thumbs .slick-arrow:hover {
  background: #fed700;
  color: #ffffff;
}
.product-details-thumbs .slick-arrow.slick-next,
.tab-style-right .slick-arrow.slick-next {
  right: 10px;
  left: auto;
}
.tab-style-right .slick-arrow.slick-next,
.tab-style-left .slick-arrow.slick-next {
	right: 40px;
	left: auto;
	bottom: 0;
	top: auto;
}
.product-details-thumbs:hover .slick-arrow,
.tab-style-right:hover .slick-arrow,
.tab-style-left:hover .slick-arrow {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.modal-body .product-social-sharing {
	padding-bottom: 43px;
}
/*----------------------------------------*/
/* 1.14 Scroll Up
/*----------------------------------------*/
#scrollUp {
	right: 25px;
	bottom: 25px;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 100%;
	text-align: center;
	background: #242424 none repeat scroll 0 0;
	border: 1px solid #fff;
	-webkit-animation: liSlideInUp 0.8s ease-in-out 1 both;
	animation: liSlideInUp 0.8s ease-in-out 1 both;
	z-index: 1000 !important;
	overflow: hidden;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
#scrollUp:hover {
	background: #fed700 none repeat scroll 0 0;
}
#scrollUp i {
	color: #ffffff;
	font-size: 20px;
	line-height: 50px;
	display: block;
}
#scrollUp:hover i {
	animation: liSlideInUp 1s infinite;
}
/*******************************************/
.product-active-3 .owl-nav button,.pos-product-active .owl-nav button,.latest-blog-active .owl-nav button{
  font-size: 22px !important;
  position: absolute;
  right: 15px;
  top: -55px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.product-active-3 .owl-nav button.owl-prev,.pos-product-active .owl-nav button.owl-prev,.latest-blog-active .owl-nav button.owl-prev {
  right: 35px;
}
.product-active-3 .owl-nav button:hover,.pos-product-active .owl-nav button,.latest-blog-active .owl-nav button:hover {
  color: #fed700;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.product-active-3 .owl-nav button.owl-next,.pos-product-active .owl-nav button.owl-next,.latest-blog-active .owl-nav button.owl-next{
  background: #ffffff none repeat scroll 0 0;
  padding: 0 0 0 10px !important;
}
.product-active-3 .owl-nav button.owl-prev,.pos-product-active .owl-nav button.owl-prev,.latest-blog-active .owl-nav button.owl-prev{
  background: #ffffff none repeat scroll 0 0;
  padding: 0 0 0 15px !important;
}
